<template id="t_restric">
	<div class="restric_simple">
		<input type="checkbox" name="negacion" class="oculto" />
		<span class="negacion">-</span>
		<span>Etiqueta</span>
		<input type="hidden" name="campo" value="etiqueta" />
		<select name="operador"></select>
		<input name="valor"/>
		<input type="checkbox" class="nexo" name="nexo" />
		<div class="operaciones oculto">
			<button type="button" title="Marcar / Desmarcar"><img src="/iiet/assets/images/ic_enfocar.png"/></button>
			<button type="button" title="Remover"><img src="/iiet/assets/images/ic_basurero.png"/></button>
			<button type="button" title="Ascender"><img src="/iiet/assets/images/ic_flecha_arriba.png"/></button>
			<button type="button" title="Descender"><img src="/iiet/assets/images/ic_flecha_abajo.png"/></button>
			<button type="button" title="Negar"><img src="/iiet/assets/images/ic_positivo_negativo.png"/></button>
			<button type="button" title="Cerrar"><img src="/iiet/assets/images/ic_x.png"/></button>
		</div>
	</div>
</template>

<template id="t_restric_compleja">
	<div class="restric_compleja restricciones">
		<input type="checkbox" name="negacion" class="oculto" />
		<span class="negacion">-</span>
		<ul class="list_restric restric_simples"></ul>
		<input type="checkbox" class="nexo" name="nexo" />
		<div class="operaciones oculto">
			<button type="button" title="Marcar / Desmarcar"><img src="/iiet/assets/images/ic_enfocar.png"/></button>
			<button type="button" title="Remover"><img src="/iiet/assets/images/ic_basurero.png"/></button>
			<button type="button" title="Ascender"><img src="/iiet/assets/images/ic_flecha_arriba.png"/></button>
			<button type="button" title="Descender"><img src="/iiet/assets/images/ic_flecha_abajo.png"/></button>
			<button type="button" title="Negar"><img src="/iiet/assets/images/ic_positivo_negativo.png"/></button>
			<button type="button" title="Cerrar"><img src="/iiet/assets/images/ic_x.png"/></button>
		</div>
	</div>
</template>

<template id="t_restric_operadores_1">
	<option value="<">&lt;</option>
	<option value="<=">&le;</option>
	<option value="=">=</option>
	<option value="<>">&ne;</option>
	<option value=">=">&ge;</option>
	<option value=">">&gt;</option>
</template>

<template id="t_restric_operadores_2">
	<option value="=">=</option>
	<option value="<>">&ne;</option>
</template>

<template id="t_selec_tipo_campania">
	<select name="valor">
		<option value="BARRIO">Barrio</option>
		<option value="PARAJE">Paraje</option>
		<option value="ESCUELA">Escuela</option>
	</select>
</template>

<script>
	
var documento = document.currentScript.ownerDocument;

var tRestriccion = documento.getElementById('t_restric').content,
	tRestricCompleja = documento.getElementById('t_restric_compleja').content,
	tRestricOperadores1 = documento.getElementById('t_restric_operadores_1').content,
	tRestricOperadores2 = documento.getElementById('t_restric_operadores_2').content,
	tSelecTipoCamp = documento.getElementById('t_selec_tipo_campania').content;


function agregarCondicion(condicion, listRestric) {
	var item = document.createElement('li'),
		ultimoItem = listRestric.children.length;

	item.appendChild(condicion);
	item.indice = ultimoItem;
	item.addEventListener('mousedown', e => {
		e.stopPropagation();

		var el = e.target;

		if(el.nodeName == 'INPUT' && el.type == 'checkbox' || el.nodeName == 'SELECT')
			return;

		seleccionarRestric(item);
	});
	item.addEventListener('mouseup', e => item.seleccionar = false);
	item.obtenerConsulta = obtenerConsulta;
	item.obtenerNexo = obtenerNexo;

	configBarraOperaciones(item);

	listRestric.appendChild(item);

	return item.children[0];
}

function nuevaRestriccionFecha(titulo, nombre, listRestric) {
	var clonRestric = document.importNode(tRestriccion, true),
		clonOperad = document.importNode(tRestricOperadores1, true),
		cond = agregarCondicion(clonRestric, listRestric);

	cond.children[2].textContent = titulo;
	cond.children[3].value = nombre;
	cond.children[4].appendChild(clonOperad);
	cond.children[5].type = 'date';
}

function nuevaRestriccionTipoCamp(listRestric) {
	var clonRestric = document.importNode(tRestriccion, true),
		clonOperad = document.importNode(tRestricOperadores2, true),
		clonSelTipo = document.importNode(tSelecTipoCamp, true),
		cond = agregarCondicion(clonRestric, listRestric);

	cond.children[2].textContent = 'Tipo campaña';
	cond.children[3].value = 'tipo';
	cond.children[4].appendChild(clonOperad);
	cond.replaceChild(clonSelTipo, cond.children[5]);
}

function seleccionarRestric(item) {
	item.seleccionar = true;
	setTimeout(() => {
		if(item.seleccionar) {
			var barra = obtenerBarraOperaciones(item);

			barra.className = barra.className.replace(/(?:^|\s)oculto(?!\S)/g , '');
			item.seleccionar = false;
		}
	}, 300);
}

function obtenerBarraOperaciones(item) {
	var barra;

	if(item.children[0].className == 'restric_simple')
		barra = item.children[0].children[7];

	else
		barra = item.children[0].children[4];

	return barra;
}

function configBarraOperaciones(item) {
	var barra = obtenerBarraOperaciones(item);

	barra.children[0].addEventListener('click', e => marcarRestric(item));
	barra.children[1].addEventListener('click', e => eliminarRestric(item));
	barra.children[2].addEventListener('click', e => ascenderRestric(item));
	barra.children[3].addEventListener('click', e => descenderRestric(item));
	barra.children[4].addEventListener('click', e => negarRestric(item));
	barra.children[5].addEventListener('click', e => cerrarBarra(item));
}

function marcarRestric(item) {
	item.className = item.className == 'marcado' ? '' : 'marcado';
}

function eliminarRestric(item) {
	var padre = item.parentNode,
		indice = item.indice;

	for(let i = indice + 1; i < padre.children.length; ++i)
		--padre.children[i].indice;

	padre.removeChild(item);
}

function ascenderRestric(item) {
	var padre = item.parentNode,
		indice = item.indice,
		cantidad = padre.children.length;

	if(cantidad > 1 && indice > 0) {
		let anterior = padre.children[indice - 1];

		++anterior.indice;
		--item.indice;
		padre.insertBefore(item, anterior);
	}
}

function descenderRestric(item) {
	var padre = item.parentNode,
		indice = item.indice,
		cantidad = padre.children.length;

	if(cantidad > 1 && indice < cantidad - 1) {
		let posterior = padre.children[indice + 1];

		--posterior.indice;
		++item.indice;
		padre.insertBefore(posterior, item);
	}
}

function negarRestric(item) {
	var div = item.children[0];

	div.children[0].checked = div.children[0].checked ? false : true;
}

function cerrarBarra(item) {
	var barra = obtenerBarraOperaciones(item);
	barra.className += ' oculto';
}

function obtenerConsulta() {
	var div = this.children[0];

	return {
		tipo: 'simple',
		neg: div.children[0].checked,
		cond: [
			div.children[3].value,
			div.children[4].value,
			'\'' + div.children[5].value + '\''
		]
	}
}

function obtenerNexo() {
	var div = this.children[0];
	var nexo;

	return div.className == 'restric_simple' ?
				div.children[6].checked ? "or" : "and"
			:
				div.children[3].checked ? "or" : "and";
}

function nuevaRestricCompleja(items) {
	var clonRestric = document.importNode(tRestricCompleja, true),
		listaRestric = items[0].parentNode,
		itemNuevo = document.createElement('li');
		ini = items[0].indice;

	itemNuevo.appendChild(clonRestric);
	itemNuevo.indice = ini;
	itemNuevo.addEventListener('mousedown', e => {
		var el = e.target;

		if(el.nodeName == 'INPUT' && el.type == 'checkbox' || el.nodeName == 'SELECT')
			return;

		seleccionarRestric(itemNuevo);
	});
	itemNuevo.addEventListener('mouseup', e => itemNuevo.seleccionar = false);
	configBarraOperaciones(itemNuevo);
	itemNuevo.obtenerConsulta = obtenerConsultaCompleja;
	itemNuevo.obtenerNexo = obtenerNexo;

	listaRestric.insertBefore(itemNuevo, items[0]);

	var restricCompleja = itemNuevo.getElementsByClassName('restric_compleja')[0],
		restricSimples = restricCompleja.children[2],
		cantItems = items.length;

	for(var i = 0; i < cantItems; ++i) {
		restricSimples.appendChild(items[0]);

		items[0].indice = i;
		cerrarBarra(items[0]);
		marcarRestric(items[0]);
	}

	var cantHijos = listaRestric.children.length;

	for(let i = ini + 1; i < cantHijos; ++i)
		++listaRestric.children[i].indice;
}

function obtenerConsultaCompleja() {
	var div = this.children[0],
		restricSimples = div.children[2].children,
		arrSubConsultas = new Array();

	for(let restric of restricSimples) {
		arrSubConsultas.push(restric.obtenerConsulta());
		arrSubConsultas.push(restric.obtenerNexo());
	}

	arrSubConsultas.pop();

	return {
		tipo: 'compuesto',
		neg: div.children[0].checked,
		cond: arrSubConsultas
	};
}

function consultasTodas(listaRestric) {
	var condiciones = new Array();

	for(let item of listaRestric.children) {
		condiciones.push(item.obtenerConsulta());
		condiciones.push(item.obtenerNexo());
	}

	condiciones.pop();

	return {
		tabla: listaRestric.tabla,
		campos: listaRestric.campos || [],
		condicion: {
			tipo: 'compuesto',
			neg: false,
			cond: condiciones
		}
	};
}

</script>