<template id="t_departamento">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<div><span>Cantidad de Localidades:</span><span class="valor"></span></div>
		<div class="descender"><a class="ir_localidades" href="#localidades">Ver Localidades</a></div>
		<a class="editar_dpto" href="#form_dpto" title="Editar"></a>
	</div>
</template>

<template id="t_localidad">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<div><span>Cantidad de Barrios:</span><span class="valor"></span></div>
		<div><span>Cantidad de Parajes:</span><span class="valor"></span></div>
		<div class="descender">
			<a class="ir_barrios" href="#barrios">Ver Barrios</a>
			<a class="ir_parajes" href="#parajes">Ver Parajes</a>
		</div>
		<a class="editar_localidad" href="#form_localidad" title="Editar"></a>
	</div>
</template>

<template id="t_barrio">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<div><span>Cantidad de Escuelas:</span><span class="valor"></span></div>
		<div class="descender"><a class="ir_escuelas" href="#escuelas">Ver Escuelas</a></div>
		<a class="editar_barrio" href="#form_barrio" title="Editar"></a>
	</div>
</template>

<template id="t_paraje">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<div><span>Cantidad de Puestos:</span><span class="valor"></span></div>
		<div><span>Cantidad de Escuelas:</span><span class="valor"></span></div>
		<div class="descender">
			<a class="ir_puestos" href="#puestos">Ver Puestos</a>
			<a class="ir_escuelas" href="#escuelas">Ver Escuelas</a>
		</div>
		<a class="editar_paraje" href="#form_paraje" title="Editar"></a>
	</div>
</template>

<template id="t_puesto">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<a class="editar_puesto" href="#form_puesto" title="Editar"></a>
	</div>
</template>

<template id="t_escuela">
	<div class="cont_datos_entidad">
		<div><span>Numero:</span><span class="valor"></span></div>
		<div><span>Nombre:</span><span class="valor"></span></div>
		<div><span>Latitud:</span><span class="valor"></span></div>
		<div><span>Longitud:</span><span class="valor"></span></div>
		<a class="editar_escuela" href="#form_escuela" title="Editar"></a>
	</div>
</template>


<script>
	
var documento = document.currentScript.ownerDocument;

var tDepartamento = documento.querySelector('#t_departamento').content,
	tLocalidad = documento.querySelector('#t_localidad').content,
	tBarrio = documento.querySelector('#t_barrio').content,
	tParaje = documento.querySelector('#t_paraje').content,
	tPuesto = documento.querySelector('#t_puesto').content,
	tEscuela = documento.querySelector('#t_escuela').content;

function departamento(padre, datos) {
	var clon = document.importNode(tDepartamento, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
	contenedor.children[4].children[1].textContent = datos.cant_localidades || 0;

	contenedor.children[5].children[0].addEventListener('click', primerPlanoEntidad);
}

function localidad(padre, datos) {
	var clon = document.importNode(tLocalidad, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
	contenedor.children[4].children[1].textContent = datos.cant_barrios || 0;
	contenedor.children[5].children[1].textContent = datos.cant_parajes || 0;
	
	contenedor.children[6].children[0].addEventListener('click', primerPlanoEntidad);
	contenedor.children[6].children[1].addEventListener('click', primerPlanoEntidad);
}

function crearItemBarrio(padre, datos) {
	var clon = document.importNode(tBarrio, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
	contenedor.children[4].children[1].textContent = datos.cant_escuelas || 0;
	
	contenedor.children[5].children[0].addEventListener('click', primerPlanoEntidad);
}

function crearItemParaje(padre, datos) {
	var clon = document.importNode(tParaje, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
	contenedor.children[4].children[1].textContent = datos.cant_puestos || 0;
	contenedor.children[5].children[1].textContent = datos.cant_escuelas || 0;
	
	contenedor.children[6].children[0].addEventListener('click', primerPlanoEntidad);
	contenedor.children[6].children[1].addEventListener('click', primerPlanoEntidad);
}

function crearItemPuesto(padre, datos) {
	var clon = document.importNode(tPuesto, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
}

function crearItemEscuela(padre, datos) {
	var clon = document.importNode(tEscuela, true);

	padre.appendChild(clon);

	var contenedor = padre.children[0];

	contenedor.children[0].children[1].textContent = datos.numero;
	contenedor.children[1].children[1].textContent = datos.nombre;
	contenedor.children[2].children[1].textContent = datos.latitud || '_';
	contenedor.children[3].children[1].textContent = datos.longitud || '_';
}

function primerPlanoEntidad(e) {
	var idObjetivo = e.target.href.match(/#.+/)[0],
		entidadActiva = document.getElementsByClassName('entidad_activa')[0],
		objetivo = document.querySelector(idObjetivo);

	entidadActiva.className = entidadActiva.className.replace(/(?:^|\s)entidad_activa(?!\S)/g , '');
	objetivo.className += ' entidad_activa';
}

</script>