<template id="t_form_dpto">

<ventana-modal id="form_dpto" class="vm_nuevo_divpolit">
	<header>
		<h1>Nuevo Departamento</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/entidades/cargar_divpolit/departamentos" method="POST">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
			<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_localidad">
	
<ventana-modal id="form_localidad" class="vm_nuevo_divpolit">
	<header>
		<h1>Nueva Localidad</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/entidades/cargar_divpolit/localidades" method="POST">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<input type="hidden" name="departamento"/>
			<!-- <label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label> -->
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_barrio">
	
<ventana-modal id="form_barrio" class="vm_nuevo_divpolit">
	<header>
		<h1>Nuevo Barrio</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/entidades/cargar_divpolit/barrios" method="POST">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<!-- <label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label> -->
			<input type="hidden" name="localidad"/>
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_paraje">
	
<ventana-modal id="form_paraje" class="vm_nuevo_divpolit">
	<header>
		<h1>Nuevo Paraje</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/entidades/cargar_divpolit/parajes" method="POST">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<!-- <label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label> -->
			<input type="hidden" name="localidad"/>
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_puesto">

<ventana-modal id="form_puesto" class="vm_nuevo_divpolit">
	<header>
		<h1>Nuevo Puesto</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/entidades/cargar_divpolit/puestos" method="POST">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<!-- <label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Paraje</span>
				<select name="paraje" required="required"></select>
				<div class="box_msj"></div>
			</label> -->
			<input type="hidden" name="paraje"/>
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>
	
</template>

<template id="t_form_escuela">
	
<ventana-modal id="form_escuela" class="vm_nuevo_divpolit">
	<header>
		<h1>Nueva Escuela</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" name="form_escuela" action="/iiet/escuelas/cargar_escuela">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required"/>
				<div class="box_msj"></div>
			</label>
			<!-- <label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<div class="grupo_radio">
				<label>
					<span>Paraje</span>
					<input type="radio" name="lugar" value="paraje" checked="checked" />
				<div class="box_msj"></div>
				</label>
				<label>
					<span>Barrio</span>
					<input type="radio" name="lugar" value="barrio" />
				<div class="box_msj"></div>
				</label>
			</div>
			<div class="select_lugar">
				<select name="paraje" required="required" required="required"></select>
				<div class="box_msj"></div>
				<select name="barrio" required="required" disabled="disabled"></select>
				<div class="box_msj"></div>
			</div> -->
			<input type="hidden" name="lugar"/>
			<input type="hidden" name="barrio"/>
			<input type="hidden" name="paraje"/>
			<label>
				<span>Latitud</span>
				<input type="text" name="latitud" class="nro_real" pattern="^-?\d+(.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Longitud</span>
				<input type="text" name="longitud" class="nro_real" pattern="^-?\d+(\.\d+)?$" />
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_paciente">
	
<ventana-modal id="form_paciente" class="vm_nuevo_divpolit">
	<header>
		<h1>Nuevo Paciente</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" name="form_paciente" action="/iiet/pacientes/cargar">
			<input type="hidden" name="numero"/>
			<label>
				<span>DNI</span>
				<input type="number" name="dni" min="1000000" max="100000000" required="required" autocomplete="off" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Apellidos</span>
				<input type="text" name="apellido" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Nombres</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Fecha de Nacimiento</span>
				<input type="date" name="fecha_nacimiento" required="required" />
				<div class="box_msj"></div>
			</label>
			<fieldset class="grupo_radio">
				<legend>Sexo</legend>

				<label>
					<span>Masculino</span>
					<input type="radio" name="sexo" value="MASCULINO" />
				</label>
				<label>
					<span>Femenino</span>
					<input type="radio" name="sexo" value="FEMENINO" />
				</label>
			</fieldset>
			<fieldset class="domicilio">
				<legend>Domicilio</legend>

				<label>
					<span>Departamento</span>
					<select name="departamento" required="required"></select>
					<div class="box_msj"></div>
				</label>
				<label>
					<span>Localidad</span>
					<select name="localidad" required="required"></select>
					<div class="box_msj"></div>
				</label>
				<div class="grupo_radio">
					<label>
						<span>Paraje</span>
						<input type="radio" name="lugar" value="paraje" checked="checked" />
					</label>
					<label>
						<span>Barrio</span>
						<input type="radio" name="lugar" value="barrio" />
					</label>
				</div>
				<div class="select_lugar">
					<select name="paraje" required="required"></select>
					<select name="barrio" required="required" disabled="disabled"></select>
					<div class="box_msj"></div>
				</div>
				<label id="puesto_paciente">
					<span>Puesto</span>
					<select name="puesto"></select>
				</label>
				<label>
					<span>Direcci&oacute;n</span>
					<input type="text" name="domicilio" />
				</label>
			</fieldset>
			<label>
				<span>N° de Cuaderno</span>
				<input type="number" name="nro_cuaderno" min="1" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>N° de Familia</span>
				<input type="number" name="nro_familia" />
			</label>
			<label>
				<span>N° de Vivienda</span>
				<input type="number" name="nro_vivienda" />
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>

</template>
<template id="t_form_campania">

<ventana-modal id="form_campania" class="vm_nuevo_divpolit">
	<header>
		<h1>Nueva Campa&ntilde;a</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" name="form_campania" action="/iiet/campanias/cargar">
			<input type="hidden" name="numero"/>
			<label>
				<span>Nombre</span>
				<input type="text" name="nombre" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Basal</span>
				<select name="basal_control">
					<option value="Basal 1">Basal 1</option>
					<option value="Control 1">Control 1</option>
				</select>
			</label>
			<label>
				<span>Fecha de inicio</span>
				<input type="date" name="fecha_inicio" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Fecha de finalizaci&oacute;n</span>
				<input type="date" name="fecha_fin" required="required" />
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<div class="grupo_radio">
				<label>
					<span>Paraje</span>
					<input type="radio" name="lugar" value="paraje" checked="checked" />
				</label>
				<label>
					<span>Barrio</span>
					<input type="radio" name="lugar" value="barrio" />
				</label>
			</div>
			<div class="select_lugar">
				<select name="paraje" required="required"></select>
				<div class="box_msj"></div>
				<select name="barrio" required="required" disabled="disabled"></select>
				<div class="box_msj"></div>
			</div>
			<label>
				<span>Puesto</span>
				<select name="puesto" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>
					Escuela
					<input type="checkbox" id="en_escuela" name="en_escuela"/>
				</span>
				<select name="escuela" required="required" disabled="disabled"></select>
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Guardar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>
<template id="t_form_selec_campania">

<ventana-modal id="form_selec_campania" class="vm_nuevo_divpolit">
	<header>
		<h1>Seleccionar Campa&ntilde;a</h1>
	</header>
	<section>
		<form is="form-asinc" class="form_divpolit" action="/iiet/campanias/datos_campania">
			<label>
				<span>Departamento</span>
				<select name="departamento" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Localidad</span>
				<select name="localidad" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<div class="grupo_radio">
				<label>
					<span>Paraje</span>
					<input type="radio" name="lugar" value="paraje" checked="checked" />
				</label>
				<label>
					<span>Barrio</span>
					<input type="radio" name="lugar" value="barrio" />
				</label>
			</div>
			<div class="select_lugar">
				<select name="paraje" required="required"></select>
				<div class="box_msj"></div>
				<select name="barrio" required="required" disabled="disabled"></select>
				<div class="box_msj"></div>
			</div>
			<label>
				<span>Puesto</span>
				<select name="puesto" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>
					Escuela
					<input type="checkbox" id="campania_escuela" name="campania_escuela"/>
				</span>
				<select name="escuela" required="required" disabled="disabled"></select>
				<div class="box_msj"></div>
			</label>
			<label>
				<span>Campa&ntilde;a</span>
				<select name="campania" required="required"></select>
				<div class="box_msj"></div>
			</label>
			<div class="btn_submit">
				<input type="submit" value="Aceptar"/>
				<input type="reset" value="Cancelar"/>
			</div>
		</form>
	</section>
</ventana-modal>

</template>

<script>

var documentoScript = document.currentScript.ownerDocument;
	
var formNuevoPaciente 	  = null,
	formNuevoDepartamento = null,
	formNuevaLocalidad    = null,
	formNuevoBarrio       = null,
	formNuevoParaje       = null,
	formNuevoPuesto       = null,
	formNuevaEscuela      = null,
	formNuevaCampania     = null,
	formSelecCampania = null;

(function() {

var urlListadoDivPolit = '/iiet/entidades/listado_',
	urlListadoEscuela = '/iiet/escuelas/listado_escuelas',
	urlListadoCampania = '/iiet/campanias/listado_campanias';

var forms = [];
var listadoDptos = [];

var tNuevoPaciente 	   = documentoScript.querySelector('#t_form_paciente').content,
	tNuevoDepartamento = documentoScript.querySelector('#t_form_dpto').content,
	tNuevaLocalidad    = documentoScript.querySelector('#t_form_localidad').content,
	tNuevoBarrio       = documentoScript.querySelector('#t_form_barrio').content,
	tNuevoParaje       = documentoScript.querySelector('#t_form_paraje').content,
	tNuevoPuesto       = documentoScript.querySelector('#t_form_puesto').content,
	tNuevaEscuela      = documentoScript.querySelector('#t_form_escuela').content,
	tNuevaCampania     = documentoScript.querySelector('#t_form_campania').content,
	tSelecCampania     = documentoScript.querySelector('#t_form_selec_campania').content;


Utils.ajax(urlListadoDivPolit + 'departamentos', [], function(e) {
	listadoDptos = e.target.response;
	
	//for(let i = 0; i < forms.length; ++i)
	//	Utils.listarDatosEnSelect(forms[i].departamento, e.target.response);
});

function establecerTituloVM(nuevoTitulo) {
	var titulo = this.querySelector('header > h1');

	titulo.textContent = nuevoTitulo;
}

/**
 * Funciones de validación de campos
 */

function validarDNI(e) {
	var elemDNI, validez;

	elemDNI = e.target;
	validez = elemDNI.validity;

	if(elemDNI.form.bandera) {
		elemDNI.form.bandera = false;
		return;
	}
	
	if(validez.valid) {
		datos = new Map([['dni', elemDNI.value]]);

		Utils.ajax('/iiet/pacientes/existe_paciente', datos, function(e) {
			var paciente = e.target.response;

			if(paciente !== false) {
				var mensaje, txtNombre;

				txtNombre = document.createElement('span');

				mensaje = mostrarMensaje(elemDNI, 'El DNI ya existe y pertenece a: ');
				txtNombre.textContent = paciente.apellido + ', ' + paciente.nombre;
				mensaje.appendChild(txtNombre);

				elemDNI.form.dniInvalido = true;
				elemDNI.select();
			}

			else  {
				eliminarMensaje(elemDNI);
				elemDNI.form.dniInvalido = false;
			}
		});
	}

	else if(validez.rangeUnderflow || validez.rangeOverflow) {
		mostrarMensaje(elemDNI, 'El DNI debe contener 7 u 8 dígitos.');

		elemDNI.select();
	}

	else if(validez.valueMissing) {
		mostrarMensaje(elemDNI, 'El DNI es obligatorio, por favor complételo.');

		elemDNI.focus();
	}
}

function validarNombres(e) {
	var elemento, validez, strMsj;

	elemento = e.target;
	validez = elemento.validity;

	// solo válido para el formulario Nuevo Paciente
	if(elemento.form.dniInvalido || elemento.form.bandera) {
		elemento.form.bandera = false;
		return;
	}

	if(validez.valueMissing) {
		strMsj = 'El ' + elemento.name + ' es obligatorio, por favor complételo.';
		mostrarMensaje(elemento, strMsj);

		elemento.focus();
	}

	else
		eliminarMensaje(elemento);
}

function validarFecha(e) {
	var inputDate, arrFecha, fechaIng, fechaActual;

	inputDate = e.target;

	if(inputDate.form.dniInvalido || inputDate.form.bandera) {
		inputDate.form.bandera = false;
		return;
	}

	if(!inputDate.value) {
		mostrarMensaje(inputDate, 'La fecha es obligatoria, por favor complétela.');
		inputDate.select();

		return;
	}

	arrFecha = inputDate.value.split('-');
	fechaIng = new Date(
		parseInt(arrFecha[0]),
		parseInt(arrFecha[1]) - 1,
		parseInt(arrFecha[2])
	);
	fechaActual = new Date();

	if(fechaIng > fechaActual) {
		mostrarMensaje(inputDate, 'La fecha no debe ser posterior a la fecha actual.');

		inputDate.select();
	}

	else
		eliminarMensaje(inputDate);
}

function validarFechaCampania(e) {
	var elemento, inputDate1, inputDate2, arrFechaIni, arrFechaFin, fechaIni, fechaFin;

	elemento = e.target;
	inputDate1 = elemento.form.fecha_inicio;
	inputDate2 = elemento.form.fecha_fin;

	if(!inputDate1.value || !inputDate2.value)
		return;

	arrFechaIni = inputDate1.value.split('-');
	fechaIni = new Date(
		parseInt(arrFechaIni[0]),
		parseInt(arrFechaIni[1]) - 1,
		parseInt(arrFechaIni[2])
	);

	arrFechaFin = inputDate2.value.split('-');
	fechaFin = new Date(
		parseInt(arrFechaFin[0]),
		parseInt(arrFechaFin[1]) - 1,
		parseInt(arrFechaFin[2])
	);

	if(fechaIni > fechaFin) {
		mostrarMensaje(elemento, 'La fecha de fin no puede ser anterior a la fecha de inicio.');

		elemento.select();
	}

	else
		eliminarMensaje(elemento);
}

function validarCampoSelect(e) {
	var elemento, validez, strMsj;

	elemento = e.target;
	validez = elemento.validity;

	if(elemento.form.dniInvalido || elemento.form.bandera) {
		elemento.form.bandera = false;
		return;
	}

	if(validez.valueMissing) {
		switch(elemento.name) {
			case 'localidad':
			case 'escuela':
			case 'campania':
				strMsj = 'La ' + elemento.name + ' es obligatoria, por favor complétela.';
			break;

			default:
				strMsj = 'El ' + elemento.name + ' es obligatorio, por favor complételo.';
			break;
		}

		mostrarMensaje(elemento, strMsj);

		elemento.focus();
	}

	else
		eliminarMensaje(elemento);
}

function validarCoordenada(e) {
	var elemento, form, strMsj, otro, validez;

	elemento = e.target;
	form = e.target.form;
	validez = elemento.validity;

	if(validez.valueMissing) {
		mostrarMensaje(elemento, 'Por favor ingrese un valor para la ' + elemento.name);
		elemento.focus();

		return;
	}

	else if(validez.patternMismatch) {
		mostrarMensaje(elemento, 'La ' + elemento.name + ' debe ser un número.');
		elemento.select();

		return;
	}

	eliminarMensaje(elemento);

	otro = elemento.name == 'latitud' ? form.longitud : form.latitud;

	if(elemento.value && !otro.value) {
		otro.required = 'required';
	}

	else if(!elemento.value && otro.value) {
		elemento.required = 'required';
	}

	else {
		otro.required = null;
		elemento.required = null;
	}
}

function validarFormulario(e) {
	e.preventDefault();

	switch (e.target.name) {
		case 'dni':
			validarDNI(e);
		break;

		case 'apellido':
		case 'nombre':
		case 'nombre':
			validarNombres(e);
		break;

		case 'fecha_nacimiento':
		case 'fecha_inicio':
		case 'fecha_fin':
			validarFecha(e);
		break;

		case 'departamento':
		case 'localidad':
		case 'barrio':
		case 'paraje':
		case 'puesto':
		case 'escuela':
		case 'campania':
			validarCampoSelect(e);
		break;

		case 'latitud':
		case 'longitud':
			validarCoordenada(e);
		break;

		default:
			console.error("El campo " + e.target.name + " no es un campo admitido para el formulario.");
		break;
	}
}


function establecerEventosBlurPaciente(form) {
	form.dni.addEventListener('blur', validarDNI);
	form.nombre.addEventListener('blur', validarNombres);
	form.apellido.addEventListener('blur', validarNombres);
	form.fecha_nacimiento.addEventListener('blur', validarFecha);
	form.departamento.addEventListener('blur', validarCampoSelect);
	form.localidad.addEventListener('blur', validarCampoSelect);
	form.barrio.addEventListener('blur', validarCampoSelect);
	form.paraje.addEventListener('blur', validarCampoSelect);
}

function quitarEventosBlurPaciente(form) {
	form.dni.removeEventListener('blur', validarDNI);
	form.nombre.removeEventListener('blur', validarNombres);
	form.apellido.removeEventListener('blur', validarNombres);
	form.fecha_nacimiento.removeEventListener('blur', validarFecha);
	form.departamento.removeEventListener('blur', validarCampoSelect);
	form.localidad.removeEventListener('blur', validarCampoSelect);
	form.barrio.removeEventListener('blur', validarCampoSelect);
	form.paraje.removeEventListener('blur', validarCampoSelect);
}

function resetFormPaciente() {
	var noValidos = this.getElementsByClassName('invalido');

	for(let invalido of noValidos)
		invalido.className = invalido.className.replace(/(?:^|\s)invalido(?!\S)/g , '');

	quitarEventosBlurPaciente(this);
	HTMLFormElement.prototype.reset.call(this);
	establecerEventosBlurPaciente(this);
}

function establecerEventosBlurEntidad(form) {
	form.nombre.addEventListener('blur', validarNombres);
	form.latitud.addEventListener('blur', validarCoordenada);
	form.longitud.addEventListener('blur', validarCoordenada);
}

function quitarEventosBlurEntidad(form) {
	form.nombre.removeEventListener('blur', validarNombres);
	form.latitud.removeEventListener('blur', validarCoordenada);
	form.longitud.removeEventListener('blur', validarCoordenada);
}

function resetFormEntidad() {
	quitarEventosBlurEntidad(this);

	var noValidos = this.getElementsByClassName('invalido');
	
	for(let invalido of noValidos)
		invalido.className = invalido.className.replace(/(?:^|\s)invalido(?!\S)/g , '');

	HTMLFormElement.prototype.reset.call(this);
	establecerEventosBlurEntidad(this);
}

function establecerEventosBlurCampania(form) {
	form.nombre.addEventListener('blur', validarNombres);
	form.fecha_inicio.addEventListener('blur', validarFecha);
	form.fecha_inicio.addEventListener('blur', validarFechaCampania);
	form.fecha_fin.addEventListener('blur', validarFecha);
	form.fecha_fin.addEventListener('blur', validarFechaCampania);
	form.departamento.addEventListener('blur', validarCampoSelect);
	form.localidad.addEventListener('blur', validarCampoSelect);
	form.barrio.addEventListener('blur', validarCampoSelect);
	form.paraje.addEventListener('blur', validarCampoSelect);
	form.escuela.addEventListener('blur', validarCampoSelect);
}

function quitarEventosBlurCampania(form) {
	form.nombre.removeEventListener('blur', validarNombres);
	form.fecha_inicio.removeEventListener('blur', validarFecha);
	form.fecha_inicio.removeEventListener('blur', validarFechaCampania);
	form.fecha_fin.removeEventListener('blur', validarFecha);
	form.fecha_fin.removeEventListener('blur', validarFechaCampania);
	form.departamento.removeEventListener('blur', validarCampoSelect);
	form.localidad.removeEventListener('blur', validarCampoSelect);
	form.barrio.removeEventListener('blur', validarCampoSelect);
	form.paraje.removeEventListener('blur', validarCampoSelect);
	form.escuela.removeEventListener('blur', validarCampoSelect);
}

function resetFormCampania() {
	var noValidos = this.getElementsByClassName('invalido');

	for(let invalido of noValidos)
		invalido.className = invalido.className.replace(/(?:^|\s)invalido(?!\S)/g , '');

	quitarEventosBlurCampania(this);
	HTMLFormElement.prototype.reset.call(this);
	establecerEventosBlurCampania(this);
}

function establecerEventosBlurSelCampania(form) {
	form.departamento.addEventListener('blur', validarCampoSelect);
	form.localidad.addEventListener('blur', validarCampoSelect);
	form.barrio.addEventListener('blur', validarCampoSelect);
	form.paraje.addEventListener('blur', validarCampoSelect);
	form.escuela.addEventListener('blur', validarCampoSelect);
	form.campania.addEventListener('blur', validarCampoSelect);
}

function quitarEventosBlurSelCampania(form) {
	form.departamento.removeEventListener('blur', validarCampoSelect);
	form.localidad.removeEventListener('blur', validarCampoSelect);
	form.barrio.removeEventListener('blur', validarCampoSelect);
	form.paraje.removeEventListener('blur', validarCampoSelect);
	form.escuela.removeEventListener('blur', validarCampoSelect);
	form.campania.removeEventListener('blur', validarCampoSelect);
}

function resetFormSelCampania() {
	var noValidos = this.getElementsByClassName('invalido');

	for(let invalido of noValidos)
		invalido.className = invalido.className.replace(/(?:^|\s)invalido(?!\S)/g , '');

	quitarEventosBlurSelCampania(this);
	HTMLFormElement.prototype.reset.call(this);
	establecerEventosBlurSelCampania(this);
}

/**
 * Funciones de inicialización de formularios
 */

function fNuevoPaciente(padre) {
	var clon, form;

	clon = document.importNode(tNuevoPaciente, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_paciente form');
	form.vm = padre.querySelector('#form_paciente');
	form.vm.form = form;
	form.vm.close = cerrarVMPaciente;
	form.reset = resetFormPaciente;

	establecerEventosBlurPaciente(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.apellido.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	// inicializa la lista de departamentos
	listarDptos(form.departamento);

	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// establece escuchas para cuando cambien los valores de: departamento, localidad y paraje
	cambioDepartamento(form);
	cambioLocalidad(form);
	cambioParaje(form);

	// establece escuchas para lograr la exclusividad entre: paraje y barrio
	establecerExclusionLugar(form);

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevoDepartamento(padre) {
	var clon, form;

	clon = document.importNode(tNuevoDepartamento, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_dpto form');
	form.vm = padre.querySelector('#form_dpto');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// actualiza la lista de departamentos
	form.fcExito = function(e) {
		if(e.target.response.id != null)
			Utils.ajax(urlListadoDivPolit + 'departamentos', [], function(e) {
				for(let formNuevo of forms)
					Utils.listarDatosEnSelect(formNuevo.departamento, e.target.response);
			});

		form.reset();
	};

	return form;
}

function fNuevaLocalidad(padre) {
	var clon, form;

	clon = document.importNode(tNuevaLocalidad, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_localidad form');
	form.vm = padre.querySelector('#form_localidad');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevoBarrio(padre) {
	var clon, from;

	clon = document.importNode(tNuevoBarrio, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_barrio form');
	form.vm = padre.querySelector('#form_barrio');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevoParaje(padre) {
	var clon, form;

	clon = document.importNode(tNuevoParaje, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_paraje form');
	form.vm = padre.querySelector('#form_paraje');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevoPuesto(padre) {
	var clon, form;

	clon = document.importNode(tNuevoPuesto, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_puesto form');
	form.vm = padre.querySelector('#form_puesto');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevaEscuela(padre) {
	var clon, form;

	clon = document.importNode(tNuevaEscuela, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_escuela form');
	form.vm = padre.querySelector('#form_escuela');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormEntidad;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurEntidad(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.latitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));
	form.longitud.addEventListener('input', e => e.target.value = Utils.soloNumeros(e.target.value));

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}

function fNuevaCampania(padre) {
	var clon, form;

	clon = document.importNode(tNuevaCampania, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_campania form');
	form.vm = padre.querySelector('#form_campania');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormCampania;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurCampania(form);
	form.addEventListener('invalid', validarFormulario, true);

	// pone en mayúsculas la primera letra de cada palabra
	form.nombre.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	form.escuela.addEventListener('input', e => e.target.value = Utils.toCamelCase(e.target.value));

	// inicializa la lista de departamentos
	listarDptos(form.departamento);

	var enEscuela = document.getElementById('en_escuela');

	enEscuela.addEventListener('change', e => form.escuela.disabled = e.target.checked ? null : 'disabled');

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// establece escuchas para cuando cambien los valores de: departamento y localidad
	cambioDepartamento(form);
	cambioLocalidad(form);
	cambioBarrio(form);
	cambioParaje(form);

	// establece escuchas para lograr la exclusividad entre: paraje y barrio
	establecerExclusionLugar(form);

	forms.push(form);

	return form;
}

function fSelecCampania(padre) {
	var clon, form;

	clon = document.importNode(tSelecCampania, true);
	padre.appendChild(clon);

	form = padre.querySelector('#form_selec_campania form');
	form.vm = padre.querySelector('#form_selec_campania');
	form.vm.form = form;
	form.vm.close = cerrarVM;
	form.reset = resetFormSelCampania;
	form.vm.establecerTitulo = establecerTituloVM;

	establecerEventosBlurSelCampania(form);
	form.procedimiento = null;
	form.addEventListener('invalid', validarFormulario, true);

	// inicializa la lista de departamentos
	listarDptos(form.departamento);

	var enEscuela = document.getElementById('campania_escuela');

	enEscuela.addEventListener('change', e => form.escuela.disabled = e.target.checked ? null : 'disabled');

	// cierra la ventana cada vez que se resetee el formulario
	form.querySelector('input[type=reset]').addEventListener('click', e => form.vm.close());

	// establece escuchas para cuando cambien los valores de: departamento y localidad
	cambioDepartamento(form);
	cambioLocalidad(form);
	cambioBarrio(form);
	cambioParaje(form);
	cambioPuesto(form);
	cambioEscuela(form);

	// establece escuchas para lograr la exclusividad entre: paraje y barrio
	establecerExclusionLugar(form);

	// agrega el formulario al array de formularios
	forms.push(form);

	return form;
}


/**
 * Funciones que escuchan si el valor de un campo tipo select cambia
 * para después actualizar los valores de los select's dependientes
 */

function cambioDepartamento(form) {
	form.departamento.addEventListener('change', function(e) {
		Utils.obtenerDatosAJAX(e.target, form.localidad, urlListadoDivPolit + 'localidades');
	});
}

function cambioLocalidad(form) {
	form.localidad.addEventListener('change', function(e) {
		var form = e.target.form;
		Utils.obtenerDatosAJAX(e.target, form.paraje, urlListadoDivPolit + 'parajes');

		if(form.barrio)
			Utils.obtenerDatosAJAX(e.target, form.barrio, urlListadoDivPolit + 'barrios');
	});
}

function cambioParaje(form) {
	form.paraje.addEventListener('change', function(e) {
		if(form.puesto)
			Utils.obtenerDatosAJAX(e.target, form.puesto, urlListadoDivPolit + 'puestos');

		if(form.escuela)
			Utils.obtenerDatosAJAX(e.target, form.escuela, urlListadoEscuela);

		/*if(form.campania_escuela && !form.campania_escuela.checked)
			Utils.obtenerDatosAJAX(e.target, form.campania, urlListadoCampania);*/
	});
}

function cambioBarrio(form) {
	form.barrio.addEventListener('change', function(e) {
		Utils.obtenerDatosAJAX(e.target, form.escuela, urlListadoEscuela);

		if(form.campania_escuela && !form.campania_escuela.checked)
			Utils.obtenerDatosAJAX(e.target, form.campania, urlListadoCampania);
	});
}

function cambioPuesto(form) {
	form.puesto.addEventListener('change', function(e) {
		if(form.campania_escuela && !form.campania_escuela.checked)
			Utils.obtenerDatosAJAX(e.target, form.campania, urlListadoCampania);
	});
}

function cambioEscuela(form) {
	form.escuela.addEventListener('change', function(e) {
		Utils.obtenerDatosAJAX(e.target, form.campania, urlListadoCampania);
	});
}


/**
 * Funciones de reiniciado y cierre de formularios
 */

function cerrarVMPaciente() {
	this.form.paraje.disabled = null;
	this.form.barrio.disabled = 'disabled';
	document.getElementById('puesto_paciente').className = '';
	
	Object.getPrototypeOf(this).close.call(this);
	this.form.reset();

	this.form.bandera = true;

	reiniciarCamposSelect(this.form);
}

function cerrarVM() {
	Object.getPrototypeOf(this).close.call(this);
	this.form.reset();
}

function reiniciarCamposSelect(form) {
	if(form.localidad)
		form.localidad.innerHTML = '';

	if(form.barrio)
		form.barrio.innerHTML = '';

	if(form.paraje)
		form.paraje.innerHTML = '';

	if(form.puesto)
		form.puesto.innerHTML = '';

	if(form.escuela)
		form.escuela.innerHTML = '';
}


/**
 * Funciones para la gestión de mensajes
 */

function mostrarMensaje(elemInvalido, strMsj) {
	var box, msj;

	box = elemInvalido.parentNode.querySelector('.box_msj');
	msj = document.createElement('div');

	msj.textContent = strMsj;

	if(box.timeout) {
		window.clearTimeout(box.timeout);
		box.innerHTML = '';
		box.timeout = 0;
	}

	box.appendChild(msj);

	elemInvalido.className += ' invalido';
	msj.className = 'msj_invalido';

	box.timeout = window.setTimeout(() => {
		box.removeChild(msj);
	}, 5000);

	return msj;
}

function eliminarMensaje(elemento) {
	var box = elemento.parentNode.querySelector('.box_msj');

	box.innerHTML = '';
	elemento.className = elemento.className.replace(/(?:^|\s)invalido(?!\S)/g , '');
}

function eliminarMensajesTodos(form) {
	var invalidos = form.querySelectorAll('.invalido');

	for(let invalido of invalidos)
		eliminarMensaje(invalido);
}

function establecerExclusionLugar(form) {
	var campoLugar = form.lugar;

	campoLugar[0].addEventListener('change', excluirLugar);
	campoLugar[0].opuesto = campoLugar[1];

	campoLugar[1].addEventListener('change', excluirLugar);
	campoLugar[1].opuesto = campoLugar[0];
}

function excluirLugar(e) {
	var radio 	  = e.target,
		opuesto   = radio.opuesto,
		form      = radio.form,
		select    = form[radio.value];

	select.disabled = null;
	form[opuesto.value].disabled = 'disabled';

	if(this.value == 'paraje') {
		form.puesto.parentNode.className = '';
		form.puesto.disabled = null;
	}

	else {
		form.puesto.parentNode.className = 'oculto';
		form.puesto.disabled = 'disabled';
	}
}

function listarDptos(campo) {
	if(listadoDptos.length > 0)
		Utils.listarDatosEnSelect(campo, listadoDptos);

	else
		Utils.ajax(urlListadoDivPolit + 'departamentos', [], function(e) {
			listadoDptos = e.target.response;
			
			Utils.listarDatosEnSelect(campo, listadoDptos);
		});
}

window.addEventListener('hashchange', function(e) {
	var vm, form;

	switch(window.location.hash) {
		case '#form_paciente':
			vm = document.getElementById('form_paciente');
			form = vm.querySelector('form');
			form.dni.select()
		break;
		
		case '#form_dpto':
		case '#form_localidad':
		case '#form_barrio':
		case '#form_paraje':
		case '#form_puesto':
		case '#form_escuela':
		case '#form_campania':
			vm = document.querySelector(window.location.hash);
			form = vm.querySelector('form');
			form.nombre.select();
		break;
	}
});

formNuevoPaciente     = fNuevoPaciente;
formNuevoDepartamento = fNuevoDepartamento;
formNuevaLocalidad    = fNuevaLocalidad;
formNuevoBarrio       = fNuevoBarrio;
formNuevoParaje       = fNuevoParaje;
formNuevoPuesto       = fNuevoPuesto;
formNuevaEscuela      = fNuevaEscuela;
formNuevaCampania     = fNuevaCampania;
formSelecCampania     = fSelecCampania;

})();

</script>