#selec_camp_ext {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;

    /*background: #272525;*/
    background: #fff;
}

#selec_camp_ext div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}

#btns_selec button {
    width: 320px;
    height: 300px;
    background: #5da3ea;
    border: 1px solid #48a5ff;
    font-size: 2em;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

#btns_selec button:hover {
    background: #389bff;
    border-color: #238ef5;
    text-shadow: 0 0 15px #000;
}


#cont_datos {
    text-align: center;
    border-right: 15px solid transparent;
    margin-bottom: 5px;
}

#cont_datos * {
    text-align: left;
}

#datos_campania,
#datos_externo,
#datos_paciente {
    padding: 5px 20px;
    background: #5da3ea;
    margin: 5px 10px 0 10px;
    color: #fff;
    width: 55%;
    min-width: 750px;
    display: inline-block;
}

#datos_externo > h2,
#datos_campania > h2,
#datos_paciente > h2 {
    font-size: 1em;
    text-decoration: underline;
    padding: 2px 0;
}

#datos_externo > div > p,
#datos_campania > div > p,
#datos_paciente > div > p {
    display: inline-block;
    padding: 5px 0;
    font-size: .9rem;
}

#datos_externo > div > p:first-child,
#datos_campania > div > p:first-child,
#datos_paciente > div > p:first-child {
    width: 70%;
}

#datos_paciente > div > p:first-child > span:first-child {
    width: 125px;
    display: inline-block;
}

#datos_campania > div > p:first-child > span:first-child {
    display: inline-block;
    width: 65px;
}

#datos_externo > div > p:first-child > span:first-child {
    display: inline-block;
    width: 90px;
}

#datos_campania > div > p > span:first-child {
    display: inline-block;
    width: 105px;
}

#wrapper_msj_ini {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #000a;
}

#wrapper_msj_ini > div {
    position: absolute;
    top: calc(50% - 80px - 2em);
    left: calc(50% - 252px);
    border: 1px solid #000c;

    text-align: center;
    width: 500px;
    padding: 40px 0;
    background: #fff;

    box-shadow: 0 0 20px 0px #121212;
}

#wrapper_msj_ini > div > p {
    margin-bottom: 30px;
}

#wrapper_msj_ini > div > a {
    padding: 5px 10px;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.btn_nuevo {
    display: inline-block;
    width: 160px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    margin-left: 20px;
    margin-top: 20px;
    color: #000;
}

#agregar {
    margin-top: 40px;
}

.grp_campos {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.grp_campos {
    margin-top: 2px;
    display: block;
    position: relative;
    text-align: right !important;
}

.grp_campos select {
    border-bottom: 1px solid #353535;
    padding: 4px;
}

#grp_busqueda {
    position: relative;
    display: inline-block;
    width: 500px;
}

#campo_busqueda {
    position: absolute;
    left: -50%;
}

#valor_busqueda {
    border-bottom: 1px solid #333;
    width: 98%;
    padding: 5px;
}

#campbusq_ver_datos {
    position: absolute;
    right: -40px;
    top: 0;

    width: 32px;
    height: 32px;
    background: #000;
    border: none;

    background-image: url('/iiet/assets/images/ic_datos_personales.svg');
    background-color: #f37700;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center center;
}

#campbusq_ver_datos:hover {
    background-size: 93%;
    cursor: pointer;
}

#campbusq_ver_datos:active {
    background-size: 80%;
}

#cb_crear_paciente {
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 98%;
    padding: 10px 5px;
    border: 1px solid #383737;
    color: #c9c9c9;
    background: #252525;
    text-align: center;

    z-index: 10;

    box-shadow: 0 2px 10px #000;
}

#cb_crear_paciente img {
    position: absolute;
    top: calc(50% - 16px);
    left: 155px;
}

#cb_crear_paciente:hover {
    background: #353535;
    border-color: #3e3e3e;
    color: #e6e5e5;

    transition: all .25s ease-in-out;
}

input, select {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #000;
}

h2 {
  font-size: 1.3em;
}

option {
  padding: 1px 5px;
}

.oculto {
    display: none !important;
}


#cont_input {
    position: relative;
    left: -5px;
}

.datalist {
    position: absolute;
    border: 1px solid #696969;
    border-top: none;
    width: calc(98% + 10px);

    text-align: left;

    z-index: 10;

    box-shadow: 0 2px 10px #000;
}

.datalist > li {
    display: block;
    background: #fff;
    color: #0e0e0e;
    cursor: default;
}

.datalist > .item_selec {
    background: #abc3f7 !important;
}

.datalist > li > span {
    display: inline-block;
    width: 47%;
    padding: 5px !important;
    background: transparent !important;
}

.datalist > li > span:first-child {
    text-align: left;
}

.datalist > li > span:last-child {
    text-align: right !important;
    color: #383737;
}

#acciones_intervencion {
    position: fixed;
    right: 40px;
    bottom: 130px;
}

#otros_estudios {
    position: fixed;
    left: 40px;
    bottom: 130px;
}

#guardar_estudio,
#btn_salir,
#acciones_intervencion > *,
#otros_estudios > *,
#positividad {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 100%;

    display: block;
    cursor: pointer;

    box-shadow: 0 0 10px #3e3e3e;

    margin-bottom: 10px;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55%;

    transition: all .25s ease-in-out;
}

#guardar_estudio {
    position: fixed;
    bottom: 30px;
    right: 40px;

    background-image: url('/iiet/assets/images/ic_upload.svg');
    background-color: #8400ff;

    transition: all 5s ease-in-out;
}

#btn_salir {
    position: fixed;
    top: 70px;
    right: 40px;

    background-image: url('/iiet/assets/images/ic_casa.svg');
    background-color: #8400ff;
}

#link_diagpresunt {
    background-image: url('/iiet/assets/images/ic_archivo.svg');
    background-color: #11cfb6;
}

#link_copro {
    background-image: url('/iiet/assets/images/ic_microscopio.svg');
    background-color: #d68a2c;
}

#link_sangre {
    background-image: url('/iiet/assets/images/ic_sangre.svg');
    background-color: #e2222b;
}

#link_biologmolec {
    background-image: url('/iiet/assets/images/ic_adn.svg');
    background-color: #39b31a;
}

#link_tratamientos {
    background-image: url('/iiet/assets/images/ic_pastillas.svg');
    background-color: #2c8ca9;
}

#eliminar_intervencion {
    background-image: url('/iiet/assets/images/ic_eliminar_archivo.svg');
    background-color: #e2222b;
}

#nueva_intervencion {
    background-image: url('/iiet/assets/images/ic_nuevo_doc.svg');
    background-color: #2c8ca9;
}

#positividad {
    position: fixed;
    bottom: 300px;
    right: 40px;
    background-image: url('/iiet/assets/images/ic_positividad.svg');
    background-color: #f19008;
}


#nueva_intervencion[data-disabled=disabled],
#eliminar_intervencion[data-disabled=disabled] {
    background-color: #8e8e8e !important;
    pointer-events: none; 
}

#guardar_estudio:hover,
#btn_salir:hover,
#acciones_intervencion > *:hover,
#otros_estudios > *:hover,
#positividad:hover {
    background-size: 60%;
    transition: all .1s ease-in-out;
}


#nueva_intervencion[data-disabled=disabled]:hover,
#eliminar_intervencion[data-disabled=disabled]:hover {
    background-size: 55% !important;
}

#guardar_estudio:active,
#btn_salir:active,
#acciones_intervencion > *:active,
#otros_estudios > *:active,
#positividad:active {
  	box-shadow: inset 0 5px 30px rgba(0,0,0,.2);
  	background-size: 45%;
}

.wc-paginacion_pagina {
    text-align: center;
    background: #b6fff1 !important;
}

#datos_campania,
#datos_externo {
    text-align: left;
}

#fue_tratado {
    padding: 5px;
    margin: 0 !important;
    border: none !important;
}

#fue_tratado > div > label {
    display: inline-block;
    width: 40px;
    padding: 5px;
    margin: 0 5px;
}

#fue_tratado > div > label > input {
    width: 15px !important;
}

#fue_tratado > div > label:first-child > input:checked,
#fue_tratado > div > label:first-child > input:hover {
    color: #0a9e0a;
    background: #0a9e0a;
}

#fue_tratado > div > label:last-child > input:checked,
#fue_tratado > div > label:last-child > input:hover {
    color: #fb2323;
    background: #fb2323;
}

#form_part_4 > label {
    text-align: center;
    border: none;
}

#form_part_4 > label > span {
    display: block;
    padding: 10px;
}

#form_part_4 > label > select {
    position: unset;
}

#vm_tipo_intervencion form > label {
    display: block;
    text-align: left;
    padding-left: 70px;
    width: 200px;
}

#vm_consult_ext form > label {
    text-align: center;
}

#vm_consult_ext form > label > input {
    position: unset;
    padding-right: 0;
    width: 9em;
}

#datos_positividad {
    position: fixed;
    bottom: 150px;
    right: 120px;

    background: #fff;
    padding: 4px 10px;

    box-shadow: 0 0 5px #000;
}

#datos_positividad:before {
    position: absolute;
    top: -30px;
    left: 50px;
    content: '';
    width: 100px;
    height: 45px;

    background-image: url('/iiet/assets/images/ic_broche.png');
}

#datos_positividad > h1 {
    display: block;
    padding: 20px 0 0 0;
    border: none;
    margin: 0;
}

#datos_positividad > div {
    width: 160px;
    padding: 10px;
    border: none;
    margin: 0;
}

#datos_positividad > div > p {
    text-align: left;
    padding: 5px;
}

#datos_positividad > div > p:nth-child(3),
#datos_positividad > div > p:nth-child(4) {
    font-size: .8em;
    padding-left: 25px;
}

#datos_positividad > div > p > span:first-child {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;

    margin-right: 5px;
}

.result_positivo {
    background-image: url('/iiet/assets/images/ic_positivo.svg');
}

.result_negativo {
    background-image: url('/iiet/assets/images/ic_negativo.svg');
}

.no_realizado {
    background-image: url('/iiet/assets/images/ic_no_realizado.svg');
}