* {
	font-family: 'Source Sans Pro', 'Sans Serif';
	font-size: 1rem;
}

ventana-modal .modal {
	min-width: 300px;
	padding: 20px;
}

ventana-modal header h1 {
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 30px;
}

ventana-modal label {
	display: block;
	position: relative;
	width: 390px;
	margin-bottom: 8px;
}

ventana-modal label span {
	display: inline-block;
	padding: 4px 5px;
}

ventana-modal form fieldset {
	border: 1px solid #000;
}

ventana-modal form input:not([type='submit']):not([type='reset']):not([type='checkbox']):not([type='radio']),
ventana-modal select {
	position: absolute;
	right: 0;
	border: 1px solid var(--clrbtnform);
	padding: 2px 10px;
	width: 195px;
}

ventana-modal form input:not([type='submit']):not([type='reset']):focus,
ventana-modal select:focus {
	border-color: #00b8ff !important;
}

ventana-modal select {
	width: 217px;
}

ventana-modal form .divisor {
	display: inline-block;
	vertical-align: top;
}

ventana-modal form input.nro_real {
	width: 100px;
	text-align: right;
}

ventana-modal .btn_submit {
	text-align: center;
	margin-top: 22px;
}

ventana-modal .btn_submit * {
	background: white;
	padding: var(--padsupinfbtn) var(--padlatbtn);
	border: 1px solid black;
	margin: 0 10px;
	cursor: pointer;
}

ventana-modal .btn_submit > .load {
	color: #fff0;
	border-color: #4d7cbf;
	background-color: #3585e6 !important;
	background-image: url('/iiet/assets/images/loading.gif') !important;
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center center;
}


ventana-modal .grupo_radio label input[type=radio] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 20px;
}

ventana-modal .grupo_radio {
	width: 390px;
    margin-top: 10px;
}

ventana-modal .grupo_radio label {
    display: inline-block;
    width: 125px;
    margin-top: 0;
    margin-right: 40px;
    cursor: pointer;
}

ventana-modal .grupo_radio label:last-of-type [type=radio] {
	background: #E3335D;
}

ventana-modal .grupo_radio label:last-of-type [type=radio]:checked {
    color: #E3335D;
}

.divpolit > label {
	width: 100%;
}

.divpolit > label > input {
	position: relative;
	left: 100px !important;
	width: 500px !important;
}

.divpolit > label > select {
	position: relative;
	left: 55px;
}

.divpolit > label > .buscar {
	position: absolute;
	top: -5px;
	right: 35px;

	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
	background-image: url('/iiet/assets/images/ic_lupa.svg');
	background-color: #34bde6ff;

	border: none;
	border-radius: 50%;

	cursor: pointer;

	transition: .1s ease-in-out;
}

.divpolit > label > .buscar:hover {
	background-size: 55%;
	transition: .1s ease-in-out;
}

.divpolit > label > .buscar:active {
	background-size: 45%;
}

.divpolit .mapa {
	width: 700px;
	height: 400px;

	border: 1px solid #34bde6ff;
}

.select_lugar {
	position: relative;

	width: 390px;
	height: 30px;
	margin-bottom: 4px;
}

.select_lugar > select {
	left: 30px;
}

ventana-modal form fieldset {
	padding-left: 5px;
	width: 383px !important;
	margin-top: 10px;
	border: 1px solid var(--clrbtnform);
	padding-top: 5px;
}

ventana-modal form fieldset:last-of-type {
	margin-bottom: 10px;
}

.domicilio > label, .domicilio .select_lugar,
.procedencia > label, .procedencia .select_lugar {
	width: 370px;
}

.procedencia > .grupo_radio {
	width: 380px;
}

select[disabled] {
	display: none;
}

#en_escuela {
	position: relative;
	width: auto;
	margin-left: 10px;
}

ventana-modal .invalido,
ventana-modal form input:not([type='submit']):not([type='reset']).invalido:focus,
ventana-modal select.invalido:focus {
	border: 1px solid red !important;
}

.box_msj {
	display: none;
	position: absolute;
	right: 0;
	bottom: -2px;
	padding: 0 10px;
	width: 195px;
}

.invalido ~ .box_msj {
	display: block;
}

.invalido ~ .box_msj > .msj_invalido {
	position: absolute;
	left: -20px;
	top: 5px;
	z-index: 5;

	padding: 10px 15px;
	background: #efefef;
	border: 1px solid #828282;
	width: 250px;
	/*border-radius: 5px;*/

	/*box-shadow: 0 0 1em #000;*/

	animation: msj_aparecer 3s forwards;
	opacity: 0;
}

.msj_invalido > span {
	display: block;
	font-weight: 600;
}

.msj_invalido:before {
	content: '';

	position: absolute;
	top: -15px;
	left: 16px;

	display: block;
	width: 5px;
	height: 5px;
	border: 5px solid transparent;
	border-bottom-color: #828282;
}

.msj_invalido:after {
	content: '';

	position: absolute;
	top: -15px;

	display: block;
	width: 7px;
	height: 7px;
	border: 5px solid transparent;
	border-bottom-color: #eee;
}

@keyframes msj_aparecer {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}

	10% {
		opacity: 1;
		transform: scale(1, 1);
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}