:root {
  --celeste: #63B8FF;
  --rosa: #FFE4E1;
  --gris: #CDC9C9;
  --gris-oscuro: #696969;
  --color-fondo-input: #fff;
  --color-fuente-1: #000;
  --color-fondo-nav: #0A0A0A;
  --color-fuente-nav: #FFF;
  --color-fondo-bpac: #696969;
  --color-fuente-bpac: #FFF;
  --clrbtnform: #696969;
  --padlatbtn: 30px;
  --padsupinfbtn: 5px;
}
